{{> header }}

<div class="container "  style="height: 100%;">
<div class="row">
    <form class="col s12" method="POST" action="/create">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="blog"></textarea>
                <label for="textarea1">Create New Post</label>
                <button class="btn waves-effect waves-light" type="submit" name="action">POST
                    <i class="material-icons right">send</i>
                </button>

            </div>
        </div>
    </form>
</div>
</div>




{{> footer-end }}